body {
    font-family: Arial, sans-serif;
    background-color: #181818;
    color: #0f0f0f;
    margin: 0;
    padding: 0;
    text-align: center;
}
* {
    -webkit-tap-highlight-color: transparent;
}

/* Header styling */

header {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid #ff0000;
    padding: 1rem;
    background-color: #202020;
    color: white;
}
header #logo {
    width: 189px;
}
header img {
    height: 37px;
    width: 52px;
}
header h1 {
    display: inline-block;
    color: white;
    margin: 0;
    transform: translateY(-7px);
}
header span {
    border-top: 1px dashed #e55;
    border-bottom: 1px dashed #e55;
    border-radius: 16px;
    padding: 0.7rem 0.5rem;
    font-size: 1.2rem;
}
header span:hover {
    cursor: pointer;
    transition: 0.2s ease;
    color: #ee5555;
}

/* Help overlay styling */

#settings {
    visibility: hidden;
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 4;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
    background-color: rgba(4, 4, 4, 0.8);
}
#close-settings {
    float: right;
    color: #e55;
    opacity: 0.9;
}
#settings #close-settings:hover {
    cursor: pointer;
    color: #e77;
}

#settings div {
    max-width: 420px;
    margin: 0 20px;
    border-radius: 12px;
    border: 2px solid #ee5555;
    padding: 27px 17px;
}

#settings div div {
    max-height: 57px;
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    border: 2px dashed #ee7777;
    padding: 4px 7px;
    color: lightgray;
}

#settings #d-method { margin-top: 30px }
#settings #bug-report, #settings #warning { margin-top: 11px }
#settings div div {
    cursor: pointer;
}
#settings div div::-webkit-scrollbar {
    width: 4px;
}
#settings div div::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: rgba(238, 119, 119, 0.3);
}
#settings div div::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(238, 119, 119, 0.5);
}
#settings div div h3 {
    color: #e77;
}
#settings p, #settings h5 {
    color: #aaa;
    font-size: 0.8rem;
}
#immediate, #process {
    display: inline-block;
    width: 140px;
    border-radius: 4px;
    border-bottom: 1px solid #aaa;
}
#settings a {
    color: #e55;
    text-decoration: underline dotted #e77;
}
#settings a:hover {
    color: #e77;
}

main { padding: 2rem }

#modes {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    padding: 7px;
    color: lightgray;
}

#modes span {
    border: 1px solid #e55;
    border-radius: 11px;
    padding: 5px 8px;
    background-color: rgba(238, 119, 119, 0.2);
    font-size: 15px;
    cursor: pointer;
}

/* Search section styling */

h4 { color: lightgray }

#version { 
    float: right;
    font-size: 14px;
    color: #e33;
}

#url-mode { display: none }

input[type="text"] {
    width: 60%;
    max-width: 500px;
    border: 1px solid #727272;
    border-radius: 18px;
    padding: 0.7rem 1.4rem;
    background-color: #121212;
    font-size: 1rem;
    color: lightgray;
}
input[type="text"]:focus {
    outline: none;
}
#search, #check-info {
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    background-color: #e22; /* #f00 */
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    color: #ddd;
    cursor: pointer;
}

#check-info:hover {
    border-radius: 4px;
    background-color: #cc0000;
}

#search-err-msg, #url-err-msg {
    font-size: 12px;
    color: #c00;
    font-weight: 600;
}

#video-info, #search-results {
    display: none;
    max-width: 600px;
    margin: 0 auto;
    border: 2px solid #333;
    border-radius: 8px;
    padding: 1rem;
    background-color: #202020;
    text-align: left;
}

#video-info { 
    width: 100%;
    position: relative 
}

#search-results {
    max-width: 1000px;
    margin-top: 1cm;
}

#vids { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.video {
    position: relative;
    margin-top: 4px;
    border-top: 2px solid #404040;
    border-bottom: 2px solid #404040;
    border-radius: 7px;
    padding: 6px;
    max-width: 300px;
    max-height: 220px;
    cursor: pointer;
}
.video:hover { 
    transition: 0.5s; 
    background-color: #303030 
}

.video img { 
    width: 100%;
    border-radius: 5px;
}

#duration, #length {
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(34, 34, 34, 0.7);
    color: lightgray;
    font-size: 14px;
    z-index: 2;
}
.video #duration {
    position: absolute;
    bottom: 8px;
    left: 5px;
}

.video h4, .video h6 { margin: 0 }

.video h6 { 
    display: inline-block;
    color: #a0a0a0;
    font-size: 11px;
}

.video #views { 
    color: #909090;
    font-size: 10px;
}

.video .share {
    position: absolute;
    bottom: 5px;
    right: 5px;
    border-radius: 15px;
    padding: 4px 7px;
}
.video .share:hover { background: #505050 }

#loader {
    width: 15px;
    aspect-ratio: 1;
    position: relative;
    margin: 20px auto;
}
#loader::before, #loader::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: #000;
}
#loader::before {
    box-shadow: -25px 0;
    animation: l8-1 1s infinite linear;
}
#loader::after {
    transform: rotate(0deg) translateX(25px);
    animation: l8-2 1s infinite linear;
}

#v { display: none }

#video-info img {
    width: 100%;
    border-radius: 8px;
}

#length {
    position: relative;
    top: -35px;
    left: 9px;
}

#d-options {
    float: right;
    margin-top: 2px;
    border-radius: 50%;
    padding: 2px 5px;
    background-color: #2a2a2a;
    -webkit-tap-highlight-color: transparent;
    animation: border-light-up 1.2s linear 1.5s;
}
#d-options:hover { cursor: pointer }
#d-options svg { margin-top: 2px }

#options {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    max-width: 350px;
    border-radius: 9px;
    padding: 8px;
    background-color: #3f3f3f;
    text-align: center;
    color: lightgray;
    z-index: 2;
}
#options p, #options #vid-o, #options #aud-o {
    margin: 0;
    padding: 5px 0;
}
#options #vid-o:hover, #options #aud-o:hover { 
    cursor: pointer;
    background-color: #5d5d5d;
}
#options #vid-o { background-color: #5d5d5d }
#options span {
    padding: 2px;
    font-size: 13px;
    font-weight: 700;
    border-bottom: 1px solid #f5353c;
    border-top: 1px solid #f5353c;
}
#a-size { display: none }
#options select {
    width: 70px;
    max-height: 32px;
    padding: 4px;
    border: 2px inset #ee3333;
    border-radius: 5px;
    background-color: #3f3f3f;
    text-align: center;
    color: lightgray;
}
#options select:focus { outline: none }
#options select:hover { 
    cursor: pointer;
    border: 2px inset #cc0000;
}

#details {
    position: relative;
    margin-top: 1.5rem;
    border-radius: 15px;
    padding: 15px;
    background-color: #282828;
}

#details h2 {
    margin: 0;
    font-size: 1.2rem;
    color: white;
}

#details p {
    margin: 0.3rem 0;
    color: #ccc;
}

#download {
    position: absolute;
    bottom: 8px;
    right: 8px;
    height: 38px;
    width: 100px;
    border: none;
    border-radius: 1.4rem;
    text-align: center;
    font-weight: 600;
    color: #0f0f0f;
}
#download:hover {
    cursor: pointer;
    background-color: lightgray;
}

#progress-txt {
    font-size: 15px;
    text-align: center;
    color: lightgray;
}

#progress-bar {
    display: none;
    width: 85%;
    height: 25px;
    margin: 0 auto;
    border-radius: 12px;
    border: 1px solid #4c4c4c;
    background-color: #202020;
    overflow: hidden;
}

#progress-bar #progress {
    width: 17%;
    height: 100%;
    border-radius: 12px;
    background-color: #f5353c;
    opacity: 0.5;
}

@keyframes expand {
    from { max-height: 57px } to { max-height: 420px; }
}
@keyframes minimise {
    from { max-height: 420px } to { max-height: 57px; }
}

@keyframes border-light-up { 
    from { border: 1px solid #666 } to { border: 1px solid #aaa } 
}

@keyframes l19 { 
    16.67% { box-shadow: -60px 15px, -60px 15px, 19px 15px }
    33.33% { box-shadow: -60px 15px, 0px 15px, 19px 15px }
    40%,60%	{ box-shadow: -19px 15px, 0px 15px, 19px 15px }
    66.67% { box-shadow: -19px 15px, 0px 15px, 60px 15px }
    83.33% { box-shadow: -19px 15px, 60px 15px, 60px 15px }
    100% { box-shadow: 60px 15px, 60px 15px, 60px 15px }
}

@keyframes l8-1 {
    100% { transform: translateX(25px) }
}
@keyframes l8-2 {
    100% { transform: rotate(-180deg) translateX(25px) }
}

@media only screen and (max-width: 700px) {
    .video { border: 1px solid #404040 }

    #video-info { width: 89% }
}

@media only screen and (max-width: 450px) {
    header { justify-content: space-between }

    #version { transform: translate(11px, -8px) }

    input[type="text"] { width: 90% }

    #check-info {
        display: block;
        margin: 7px auto;
    }

    #search { margin-top: 12px }

    .video { margin-top: 5px }
}