body {
    font-family: Arial, sans-serif;
    background-color: #181818;
    color: #0f0f0f;
    margin: 0;
    padding: 0;
    text-align: center;
}
* {
    -webkit-tap-highlight-color: transparent;
}

header {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid #ff0000;
    padding: 1rem;
    background-color: #202020;
    color: white;
}
header .logo {
    width: 189px;
}
header img {
    height: 37px;
    width: 52px;
}
header h1 {
    display: inline-block;
    color: white;
    margin: 0;
    transform: translateY(-7px);
}
header span {
    border-top: 1px dashed #e55;
    border-bottom: 1px dashed #e55;
    border-radius: 16px;
    padding: 0.5rem;
    font-size: 1.2rem;
}
header span:hover {
    cursor: pointer;
    transition: 0.2s ease;
    color: #ee5555;
}

.help {
    visibility: hidden;
    display: flex;
    height: 90%;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 4;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
}
#close-help {
    float: right;
    color: #e55;
    opacity: 0.9;
}
.help #close-help:hover {
    cursor: pointer;
    color: #e77;
}

.help div {
    max-width: 420px;
    margin: 0 20px;
    border-radius: 12px;
    border: 2px solid #ee5555;
    padding: 27px 17px;
}

.help div div {
    max-height: 57px;
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    border: 2px dashed #ee7777;
    padding: 4px 7px;
    color: lightgray;
}
.help .url-help { margin-top: 30px }
.help .bug-report, .help .warning { margin-top: 11px }
.help div div {
    cursor: pointer;
}
.help div div::-webkit-scrollbar {
    width: 4px;
}
.help div div::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: rgba(238, 119, 119, 0.3);
}
.help div div::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(238, 119, 119, 0.5);
}
.help div div h3 {
    color: #e77;
}
.help p, .help h5 {
    color: #aaa;
    font-size: 0.8rem;
}
.help img {
    width: 80%;
    opacity: 0.5;
}
.help a {
    color: #e55;
    text-decoration: underline dotted #e77;
}
.help a:hover {
    color: #e77;
}

main {
    padding: 2rem;
}

h4 { color: lightgray }

#version { 
    float: right;
    font-size: 14px;
    color: #ee3333;
}

input[type="text"] {
    width: 60%;
    max-width: 500px;
    border: 1px solid #727272;
    border-radius: 18px;
    padding: 0.7rem 1.4rem;
    background-color: #121212;
    font-size: 1rem;
    color: lightgray;
}

input[type="text"]:focus {
    outline: none;
}

#check-info {
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    background-color: #ff0000;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
}

#check-info:hover {
    border-radius: 4px;
    background-color: #cc0000;
}

#err-msg {
    font-size: 12px;
    color: #c00;
    font-weight: 600;
}

.d-loader {
    width: 12px;
    aspect-ratio: 1;
    border-radius: 50%;
    clip-path: inset(-45px);
    box-shadow: -60px 15px,-60px 15px,-60px 15px;
    transform: translateY(-15px);
    animation: l19 1s infinite linear;
}

.video-info {
    display: none;
    position: relative;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    background-color: #202020;
    padding: 1rem;
    border-radius: 8px;
    text-align: left;
}

.loader {
    width: 15px;
    aspect-ratio: 1;
    position: relative;
    margin: 20px auto;
}
.loader::before, .loader::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: #000;
}
.loader::before {
    box-shadow: -25px 0;
    animation: l8-1 1s infinite linear;
}
.loader::after {
    transform: rotate(0deg) translateX(25px);
    animation: l8-2 1s infinite linear;
}

.v { display: none }

.video-info img {
    width: 100%;
    border-radius: 8px;
}

#length {
    position: relative;
    top: -35px;
    left: 9px;
    border-radius: 5px;
    padding: 5px;
    background-color: #222;
    color: lightgray;
    font-size: 14px;
    z-index: 2;

}

#d-options {
    float: right;
    margin-top: 2px;
    border-radius: 50%;
    padding: 2px 5px;
    background-color: #2a2a2a;
    -webkit-tap-highlight-color: transparent;
}
#d-options:hover { cursor: pointer }
#d-options svg { margin-top: 2px }

.options {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    max-width: 350px;
    border-radius: 9px;
    padding: 8px;
    background-color: #3f3f3f;
    text-align: center;
    color: lightgray;
    z-index: 2;
}
.options p, .options div {
    margin: 0;
    padding: 5px 0;
}
.options div:hover, .options #vid-o {
    cursor: pointer;
    background-color: #5f5f5f;
}
.options span {
    padding: 2px;
    font-size: 13px;
    font-weight: 700;
    border-bottom: 1px solid #f5353c;
    border-top: 1px solid #f5353c;
}
#a-size { display: none }
.options select {
    width: 70px;
    max-height: 32px;
    padding: 4px;
    border: 2px inset #ee3333;
    border-radius: 5px;
    background-color: #3f3f3f;
    text-align: center;
    color: lightgray;
}
.options select:focus { outline: none }
.options select:hover { 
    cursor: pointer;
    border: 2px inset #cc0000;
}

.details {
    position: relative;
    margin-top: 1.5rem;
    border-radius: 15px;
    padding: 15px;
    background-color: #282828;
}

.details h2 {
    margin: 0;
    font-size: 1.2rem;
    color: white;
}

.details p {
    margin: 0.3rem 0;
    color: #ccc;
}

#download {
    position: absolute;
    bottom: 8px;
    right: 8px;
    height: 38px;
    width: 100px;
    border: none;
    border-radius: 1.4rem;
    text-align: center;
    font-weight: 600;
    color: #0f0f0f;
}
#download:hover {
    cursor: pointer;
    background-color: lightgray;
}

#progress-txt {
    font-size: 15px;
    text-align: center;
    color: lightgray;
}

.progress-bar {
    display: none;
    width: 85%;
    height: 25px;
    margin: 0 auto;
    border-radius: 12px;
    border: 1px solid #4c4c4c;
    background-color: #202020;
    overflow: hidden;
}

.progress-bar .progress {
    width: 17%;
    height: 100%;
    border-radius: 12px;
    background-color: #f5353c;
    opacity: 0.5;
}

@keyframes expand {
    from { max-height: 57px } to { max-height: 420px; }
}
@keyframes minimise {
    from { max-height: 420px } to { max-height: 57px; }
}

@keyframes l19 { 
    16.67% { box-shadow: -60px 15px, -60px 15px, 19px 15px }
    33.33% { box-shadow: -60px 15px,  0px 15px, 19px 15px }
    40%,60%	{ box-shadow: -19px 15px,  0px 15px, 19px 15px }
    66.67% { box-shadow: -19px 15px,  0px 15px, 60px 15px }
    83.33% { box-shadow: -19px 15px, 60px 15px, 60px 15px }
    100% { box-shadow: 60px 15px, 60px 15px, 60px 15px }
}

@keyframes l8-1 {
    100% { transform: translateX(25px) }
}
@keyframes l8-2 {
    100% { transform: rotate(-180deg) translateX(25px) }
}

@media only screen and (max-width: 700px) {
    .video-info { width: 89% }
}

@media only screen and (max-width: 450px) {
    header { 
        justify-content: space-between 
    }
    #version { 
        transform: translate(11px, -8px) 
    }
    input[type="text"] { 
        width: 90% 
    }
    #check-info {
        display: block;
        margin: 7px auto;
    }
}